<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Student Management System</title>
	<style>
		.error{
			color:red;
		}
	</style>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Student Management System</a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/list}">Dashboard</a>
			</li>

		</ul>
	</div>
</nav>
<div class="container">
	<hr>
	<h2>Add new Student</h2>
	<div th:if="${message}">
		<p th:text="${message}" style="color: red;"></p>
	</div>
	<form action="#" th:action="@{/admin/newuser}" th:object="${newuser}" method="get">

		<div class="form-group">
			<label class="control-label" for="firstName"> First Name </label>
			<input id="firstName" class="form-control" th:field="*{firstName}"
				   required autofocus="autofocus" />
		</div>

		<div class="form-group">
			<label class="control-label" for="lastName"> Last Name </label> <input
				id="lastName" class="form-control" th:field="*{lastName}"
				required autofocus="autofocus" />
		</div>

		<div class="form-group">
			<label class="control-label" for="email"> Email </label> <input
				id="email" class="form-control" th:field="*{email}" required
				autofocus="autofocus" />
		</div>

		<div class="form-group">
			<label class="control-label" for="password"> Password </label> <input
				id="password" class="form-control" type="password"
				th:field="*{password}" required autofocus="autofocus" />
		</div>

		<div class="form-group">
			<label class="control-label" for="isadmin"> Is Admin </label> <input
				id="isadmin" class="form-control"
				th:field="*{isadmin}" required autofocus="autofocus" />
		</div>
		<input class="btn btn-info col-2" type="submit" value="Add User">

	</form>

	<hr>

	<a th:href = "@{/student/list}"> Back to Student List</a>
</div>
</body>
</html>
