<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>studentss Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/list}">Dashboard</a>
            </li>

        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1>
            Students Record</h1>
    </div>
    <div align="right" >
        <a class="btn btn-primary btn-sm mb-3" th:href="@{/student/download}" target="_blank">Export as .xlsx</a>
    </div>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Email</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>

        <tr th:each = "students: ${studentlist}">
            <td th:text = "${students.firstname}"></td>
            <td th:text = "${students.lastname}"></td>
            <td th:text = "${students.email}"></td>
            <td>
                <a th:href = "@{/student/edit/{email}(email=${students.email})}"
                   class = "btn btn-primary">Update</a>

<!--                <a th:href = "@{/student/delete/{id}(id=${students.id})}"-->
<!--                   class = "btn btn-danger">Delete</a>-->

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html></title>
</head>
<body>

</body>
</html>