<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Management System</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/list}">Dashboard</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container">
  <h1>Student Management System</h1>
  <hr>
  <h2>Update Student</h2>

  <form action="#" th:action="@{/admin/save}" th:object="${edituser}"
        method="GET">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{userid}" />

    First name
    <input type="text" th:field="*{firstname}" class="form-control mb-4 col-4">

    Last name
    <input type="text" th:field="*{lastname}" class="form-control mb-4 col-4">

    Email
    <input type="text" th:field="*{email}" class="form-control mb-4 col-4">

    Is Admin
    <input type="text" th:field="*{isadmin}" class="form-control mb-4 col-4">
    <input type="hidden" th:field="*{password}" />

    <button type="submit" class="btn btn-info col-2"> Update User</button>
  </form>

  <hr>

  <a th:href = "@{/admin/list}"> Back to Users List</a>
</div>
</body>
</html>
